<form [formGroup]="resForm" (ngSubmit)="onFormSubmit()" #f="ngForm">
  <div class="form-group">
    <label for="name">Nom Residence</label>
    <input formControlName="name" type="text" class="form-control" id="name" placeholder="Nom Residence">
  </div>

  <div class="form-group">
    <label for="address">Adresse</label>
    <input formControlName="address" type="text" class="form-control" id="address" placeholder="Adresse">
  </div>

  <div>
    <div class="form-check form-check-inline">
      <input formControlName="status" class="form-check-input" type="radio" value="Disponible">
      <label class="form-check-label">Disponible</label>
    </div>
    <div class="form-check form-check-inline">
      <input formControlName="status" class="form-check-input" type="radio" value="Vendu">
      <label class="form-check-label">Vendu</label>
    </div>
    <div class="form-check form-check-inline">
      <input formControlName="status" class="form-check-input" type="radio" value="En Construction">
      <label class="form-check-label">En Construction</label>
    </div>
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label">Image</label>
    <input class="form-control" type="file" id="formFile">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
